.paperStyle{
    padding: 10px;
    height:70%;
    width: 80%;
    margin:3% auto;
    max-width: 750px;
    }
.gridStyle{
    margin-left: 100px;
    font-family: sans-serif;
  };
.textStyle{
    margin-top: 40px;
    margin-bottom: 30px;
    width: 800px;
  };